In [2]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')
pd.options.display.float_format = '{:,.2f}'.format

clean = df.dropna()
clean.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

In [4]:
clean["Mid-Career Median Salary"].idxmin()
clean.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
spread                                     0.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [28]:
spread = clean["Mid-Career 90th Percentile Salary"] - clean['Mid-Career 10th Percentile Salary']
clean.insert(5, "Spread", spread)

clean.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Spread,Group
17,Economics,50100.0,98600.0,50600.0,210000.0,159400.0,Business
22,Finance,47900.0,88300.0,47200.0,195000.0,147800.0,Business
37,Math,45400.0,92400.0,45200.0,183000.0,137800.0,STEM
36,Marketing,40800.0,79600.0,42100.0,175000.0,132900.0,Business
42,Philosophy,39900.0,81200.0,35500.0,168000.0,132500.0,HASS

In [33]:
high_risk = clean.sort_values(by="Spread", ascending=False)
low_risk = clean.sort_values(by="Spread", ascending=True)

low_risk.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Spread,Group
40,Nursing,54200.0,67000.0,47600.0,98300.0,50700.0,Business
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,57600.0,STEM
41,Nutrition,39900.0,55300.0,33900.0,99200.0,65300.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,65400.0,HASS
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,66400.0,Business

In [44]:
clean.sort_values(by="Mid-Career 90th Percentile Salary", ascending=False).head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,"50,100.00","98,600.00","50,600.00","210,000.00",Business
22,Finance,"47,900.00","88,300.00","47,200.00","195,000.00",Business
8,Chemical Engineering,"63,200.00","107,000.00","71,900.00","194,000.00",STEM
37,Math,"45,400.00","92,400.00","45,200.00","183,000.00",STEM
44,Physics,"50,300.00","97,300.00","56,000.00","178,000.00",STEM

In [43]:
# clean.groupby("Group").count()
clean.groupby("Group").mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00"